.containerHeader {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#a93f36, #501e1a);
    border: 1px solid saddlebrown;
    height: 150px;
  }
  .container-fluid .row .headerNavBar {
    display: flex;
    width: 100%;
  }
  .container-fluid .row .col-lg-12 .logoEsprit {
    width: 20%;
    cursor: pointer;
  }
  .container-fluid .row .col-lg-12 .logoEsprit img {
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 80px;
  }
  .container-fluid .row .col-lg-12 .navbar {
    width: 70%;
    margin-top: -20px;
    margin-left: 50px;

  }
  .container-fluid .row .col-lg-12 .navbar ul {
    list-style: none;
  }
  .container-fluid .row .col-lg-12 .navbar ul li {
    margin-right: 100px;
    color: whitesmoke;
    font-size: 20px;
    border-bottom: 2px solid white;
    cursor: pointer;
  }
  .NavLink{
    color: white;
    list-style: none;
    text-decoration: none;
  }
  .NavLink:hover{
    color: grey;
    list-style: none;
    text-decoration: none;
  }

 
  .container-fluid .row .col-lg-12 .robot {
    width: 10%;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
  }
 .robotImage{

  margin-top: -40px;
  margin-left: -60px;
   height: 90px;
 }

 .pRobot{
   position: absolute;
   font-size: 14px;
  left: 1150px;
  top: 110px;
  color: black;
  font-weight: bold;
  }